h1{
    color:#761E7B
}

body{
    background-color:#DBFFF6
}

.header, .crdata{
    background-color:lightgreen;
    display: flex;
    /* justify-content:center; */
    flex-wrap:wrap;
    text-align:center;
    flex-direction:column;
}

.navlist{
    list-style: none;
    display:flex;
    gap:15px;
    justify-content:center;
    flex-direction:column;
}

.h1font{
    font-family:"Montserrat", sans-serif;
}

.grid-container{
display: grid;
gap: 10px;
grid-template-columns: 3fr 2fr;
}

.classsection{
    margin:10px 0px;
    display:flex;
    flex-direction:column;
}

.courseb{
    border-style: solid;
    border-color:lightslategrey;
    border-width: 1px 0px;
    margin:0px 0px;
    padding:5px 0px;
}


@media (min-width:600px){

    .def{
        order:2;
    }
    .term{
        order:3;
    }

    .course, .courseb{
        display:grid;
        grid-template-columns: 1fr 2fr;
        order:1;
    }


    .navlist{
        flex-direction:row;
    }
}