h1{
    color:#761E7B
}

body{
    background-color:#DBFFF6
}

.header, .crdata{
    background-color:lightgreen;
    display: flex;
    /* justify-content:center; */
    flex-wrap:wrap;
    text-align:center;
    flex-direction:column;
}

.navlist{
    justify-content:center;
}

.navlist{
    list-style:none;
    display:flex;
    gap:15px;
}

.h1font{
    font-family:"Montserrat", sans-serif;
}

.grid-container{
display: grid;
gap: 10px;
grid-template-columns: 3fr 2fr;

}

@media (max-width:600px){
    body{
       background-color:blue;
    }

    .navlist{
        flex-direction:column;
    }
}