h1{
    color:#761E7B
}

body{
    background-color:#DBFFF6
}

.nav{
    background-color:lightgreen;
    text-align:center;
}

.h1font{
    font-family:"Montserrat", sans-serif;
}

.grid-container{
display: grid;
gap: 10px;
grid-template-columns: 3fr 2fr;

}

.crdata{
    background-color: lightgreen;
    text-align:center;
}